body {
    background-color: #f7c7a8;
}

.row {
  margin-top: 10vh;
}

p {
  margin-top: 35%;
  font-size: 2em;
  font-weight: 600;
}

#tamagotchi {
  font-size: 3em;
  margin-bottom: 20%;
}

#newTamagotchi {
  position: fixed;
  bottom:10vh;
  right: 10vw;
}